body {
    font-family: "Montserrat", sans-serif;
}

html {
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: initial;
}

a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none!important;
}

img {
    width: 100%;
}
